name: CI-dev
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: YosysHQ/setup-oss-cad-suite@v3
	github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: yosys --version